{% extends 'website/base.html' %}
{% load static %}


{% block main %}

    <div class="row row-space">

        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. 
            Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. 
            Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. 
            Aenean aliquam molestie leo, vitae iaculis nisl. Em pé sem cair, 
            deitado sem dormir, sentado sem cochilar e fazendo pose.
        </div>

        <div class="col-6">
            Cevadis im ampola pa arma uma pindureta. Mauris nec dolor in eros
            commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
            In elementis mé pra quem é amistosis quis leo. Quem num gosta
            di mim que vai caçá sua turmis!
        </div>

    </div>

    <div class="row row-space">

        <div class="col-4">
            Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. 
            Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. 
            Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. 
            Aenean aliquam molestie leo, vitae iaculis nisl. Em pé sem cair, 
            deitado sem dormir, sentado sem cochilar e fazendo pose.
        </div>

        <div class="col-4">
            <img src="{% static 'img/Logo.png' %}" alt="" width="200" height="200">
        </div>

        <div class="col-4">
            Cevadis im ampola pa arma uma pindureta. Mauris nec dolor in eros
            commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
            In elementis mé pra quem é amistosis quis leo. Quem num gosta
            di mim que vai caçá sua turmis!
        </div>

    </div>

    <div class="row row-space">

        <div class="col-6">
            Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. 
            Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. 
            Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. 
            Aenean aliquam molestie leo, vitae iaculis nisl. Em pé sem cair, 
            deitado sem dormir, sentado sem cochilar e fazendo pose.
        </div>

        <div class="col-6">
            Cevadis im ampola pa arma uma pindureta. Mauris nec dolor in eros
            commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
            In elementis mé pra quem é amistosis quis leo. Quem num gosta
            di mim que vai caçá sua turmis!
        </div>

    </div>

{% endblock main %} 