{% extends "base.html" %}
{% load bootstrap %}


{% block main %}


<div class="row">

    <div class="col-sm-12">
        <h2>Lista Veiculos</h2>
    </div>

</div>
    

<div class="row">

    <div class="col-sm-6">

        <form  action=" {% url 'veiculo-novo' %} " method="POST">
            {% csrf_token %}
                
            {{ form|bootstrap }}
            
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

    </div>

    <div class="col-sm-6">

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Proprietario</th>
                </tr>
            </thead>
            <tbody>

                {% for veiculo in veiculos %}
                    <tr>
                        <th scope="row"><a href=" {% url 'veiculo-update' veiculo.id %} "> {{ veiculo.id }} </a></th>
                        <td><a href=" {% url 'veiculo-update' veiculo.id %} "> {{ veiculo.placa }} </a></td>
                        <td><a href=" {% url 'veiculo-update' veiculo.id %} "> {{ veiculo.marca }} </a></td>
                        <td><a href=" {% url 'veiculo-update' veiculo.id %} "> {{ veiculo.proprietario }} </a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>

</div>  

{% endblock %}